.img {
    width: 6rem!important;
    height: 6rem!important;
    align-items: center;
}

.navbar{
    justify-content: center!important;
}

.navbar-brand {
font-size: 6rem!important;
color: goldenrod!important;
align-items: center;
}


.bg-dark {
    background-color: black!important;
}

.bg-light{
    background-color: #474747!important;
}

.btn-outline-info{
    
}
.container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn {
    background-color: goldenrod;
    color: black;
    outline-color: white;
}

.card-body {
    background-color: black;
    color: goldenrod;
}